@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 255, 255, 255;
  --secondary-color: 0, 0, 0;
  --secondary-800: 46, 46, 46;
  --accent-color: 79, 54, 234;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
